@font-face {
    font-family: krunkerfont;
    src: url('./font2.ttf');
}

html,
body {
    background-color: #6d6d6d;
    padding: 0;
    background-image: url(https://assets.krunker.io/textures/wall_0.png);
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: 0;
    font-family: krunkerfont;
    overflow: hidden;
    animation: animatedBackground 10s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

#card {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    height: 360px;
}

#settings {
    /* 282.5 x 78 */
    position: absolute;
    right: 0;
    /* top: 34%; */
    margin: 10px;
    width: 282.5px;
    height: min-content;
    /* transform: translateY(-50%); */
    text-align: center;
    overflow-y: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.35);
    /* border: solid 5px #fff; */
    border-radius: 6px;
    word-wrap: break-word;
    box-shadow: 0 0 12px black;
}

.settName {
    float: left;
    margin-bottom: 16px;
    margin-left: 7px;
    clear: both;
    margin-top: 10px;
    font-size: 13px;
    /*text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);*/
    color: rgba(255, 255, 255, 0.5);
}

.sliderM {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 10px;
    background-color: #a8a8a8;
    outline: none;
    border-radius: 4px
}

.sliderM::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 19px;
    border-radius: 4px;
    background: #2196f3;
    cursor: pointer
}

.sliderM::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background: #2196f3;
    cursor: pointer
}

.sliderVal {
    font-family: "krunkerfont";
    float: right;
    /* position: relative; */
    width: 30px;
    color: #fff;
    position: relative;
    bottom: 21px;
    left: 143px;
    font-size: 10px;
    display: block;
    height: 10px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    background: #2196f3;
    padding: 5px;
    margin-left: 8px;
    margin-right: -10px;
    border-radius: 6px;
}

#cardSpace {
    left: 5px;
    font-size: 50px;
    font-family: krunkerfont;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#input {
    font-size: 16px;
    font-family: krunkerfont;
    padding: 10px;
    background: #00000061;
    color: white;
    border: none;
    backdrop-filter: blur(10px);
    min-width: 26px;
    box-shadow: 0 0 12px black;
    border-radius: 6px;
}

#info {
    position: absolute;
    top: 375px;
    font-family: krunkerfont;
    padding-top: 10px;
    width: 679px;
    left: 50%;
    transform: translate(-50%);
}

#downloadBtn:hover,
#input:hover,
#top:hover {
    outline: none;
    transform: translateY(-10px)
}

#top:hover {
    outline: none;
    transform: translateY(-6px)
}

#downloadBtn:active {
    transform: translateY(-5px);
    outline: none;
}

* {
    outline: none;
    transition: all 0.5s;
}

#downloadBtn {
    outline: none;
    /* position: relative; */
    /* bottom: 25px; */
    /* padding-top: 10px; */
    font-family: krunkerfont;
    backdrop-filter: blur(10px);
    font-size: 16px;
    /* height: 84px; */
    padding: 13px;
    /* width: 160px; */
    border-radius: 6px;
    box-shadow: 0 0 12px #00ff00d9;
    border: solid 1px #00ff00d9;
    background-color: #67dc67a6;
    /* text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020; */
    color: #fff;
}

.sliderVal {
    position: relative;
    bottom: 21px;
    left: 143px;
    font-size: 10px;
}

.sliderM {
    position: relative;
    bottom: 35px;
    left: 138px;
    display: block;
}

#sizeSlider {
    width: 80%;
    left: 100px;
    bottom: 63px;
}

#sizeText {
    position: relative;
    bottom: 45px;
    left: 2px;
}

#sizeInput {
    bottom: 50px;
    left: 135px;
}

#settingsHeader {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 1.65em;
    color: #fff;
}

.switch {
    float: right;
    position: relative;
    margin-bottom: 5px;
    width: 65px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -5px;
    width: 40px;
    height: 21px;
    right: 0;
    bottom: 0;
    background-color: #a8a8a8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px)
}

#boxText {
    position: relative;
    bottom: 75px;
    left: 2px;
}

#boxCheck {
    position: relative;
    bottom: 79px;
    left: 150px;
}

#title {
    display: block;
    font-size: 1.25em;
    /* display: block; */
    /* text-align: left; */
    /* margin-left: 15px; */
    /* margin-top: 20px; */
}

#topInfo {
    font-size: 0.7em !important;
    display: block;
    margin-top: 10px;
}

#top {
    position: relative;
    /* padding-top: 2px; */
    color: #fff;
    border-radius: 6px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    /* width: 100%; */
    height: min-content;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 12px #00000082;
}

#changelogHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 10px;
    display: block;
    margin: auto;
    height: 300px;
    width: 500px;
    border: solid 5px white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .65);
    overflow-y: scroll;
}

#changelog {
    margin-top: 2px;
    display: block;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #fff;
    text-align: left !important;
}

#popupBack {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .65);
}

#topInfo a {
    text-decoration: underline !important;
    color: #2196f3;
}

#hueText {
    position: relative;
    bottom: 15px;
}

#hueSlider {
    width: 80%;
    left: 100px;
}

#hueInput {
    position: relative;
    left: 137px;
}